body{
    font-family: Verdana, sans-serif;
    background: linear-gradient(rgb(24, 24, 106),rgb(18, 18, 168));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    min-height: 150px;
    
    padding: 10px;
}
input,button{
    width: 400px;
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
}
input{
    background: transparent;
    backdrop-filter: blur(100px);
    color:white;
    font-size: 1em;
    padding: 10px;
}
input::placeholder{
    color:rgb(193, 193, 193);
}
button{
    display:block;
    background-color: rgb(0, 6, 11);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px  auto;
    margin-bottom: 15px;
}
button:active{
    background-color: rgb(11, 86, 147);

}
#list{
    box-shadow: 5px 5px 5px rgb(35, 4, 147);
    border: 1px solid;
    width: 350px;
    
    word-wrap: break;
    padding:10px;
    color: white;
}
#remove{
    width: 50%;
    background-color: red;
    display: block;
    
}
